﻿@model Web.ViewModel.Shared.ConfirmDeleteViewModel
@{
  ViewBag.Title = "Удалить запись?";
}

<h2>Удалить запись?</h2>

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm(Model.ActionDelete, Model.ControllerDelete, new { Id = Model.Id }, FormMethod.Get))
        {
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Удалить" class="btn btn-default" />
                </div>
            </div>
        </div>
        }
    </div>
    <div class="col-md-6">
        @using (Html.BeginForm(Model.ActionRejection, Model.ControllerRejection))
        {
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Отменить" class="btn btn-default" />
                </div>
            </div>
        </div>
        }
    </div>
</div>