﻿@model Web.ViewModel.Shared.ErrorViewModel
@{
  ViewBag.Title = "Ошибка";
}

<h2>Ууупсс</h2>

<div class="row">
    <div class="col-md-8 col-lg-offset-2">
        @Model.Message
        <br/>
        @Html.ActionLink("Перейти", Model.BackAction, Model.Controller)
    </div>
</div>